html {
     margin-top: 100px;
     margin-bottom: 100px;
     margin-right: 150px;
     margin-left: 80px;
     display:inline;
     }


body {
     text-align: center;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}


h1#pop {
   font-size: 60px;
   font-weight: bold;
   color: red;
   text-shadow: 2px 2px black;
   }


span {
  font-size: 32px;
  font-weight: bold;
  color: red;
  text-shadow: 2px 2px black;
       }

h2 {
      text-shadow: 2px 2px black;
      color: blue;
      font-weight: bold;
       font-size: 50px;
   }


 Img {
    border-radius: 10%;

}



nav {
    color: blue;
    text-shadow: 2px 2px black;
    font-size: 40px;
    font-weight: bold;
    }


h2#media {
         color: blue;
         text-shadow: 2px 2px black;
         font-weight: bold;
         font-size: 50px;
         }

h2#quotes {
  text-shadow: 2px 2px black;
    color: blue;
    font-weight: bold;
    font-size: 50px;
  }


h2#life {
         color: blue;
         text-shadow: 2px 2px black;
         font-weight: bold;
         font-size: 50px;
         }
